body {
  font-family: 'Arial', sans-serif;
  background: black;
}

a {
  text-decoration: none;
}

p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

label {
  display: block;
}

input[type="submit"] {
  display: block;
  /*margin-top: 10px;*/
  margin-bottom: 0;
}

/* LOGIN */
.loginbox {
  width: 225px;
  margin: 30px auto 0;
  padding: 15px;
  border-radius: 5px;
  background: white;
}
  .loginbox input {
    width: 200px;
    margin-bottom: 10px;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    color: white;
    background: black;
  }
  .loginbox input[type="submit"] {
    width: 100px;
    margin-bottom: 0;
  }
  .loginbox a {
    width: 80px;
    display: block;
    margin-top: 10px;
    padding: 10px;
    font-size: 0.8em;
    text-align: center;
    border-radius: 5px;
    color: white;
    background: black;
  }

/* AGENDA */
.wrapper {
  width: 800px;
  margin: 0 auto;
  overflow: hidden;
}
  .wrapper header {
    padding: 10px;
    overflow: hidden;
    border-radius: 5px;
    background: white;
  }
    .wrapper header h1 {
      width: 200px;
      float: left;
      text-transform: uppercase;
    }
    .wrapper header p {
      margin-top: 10px;
      float: right;
    }
    .wrapper header input {
      width: 100px;
      display: inline;
      padding: 10px;
      border: 0;
      border-radius: 5px;
      color: white;
      background: black;
    }
  .wrapper .contacts {
    width: 500px;
    float: left;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background: white;
  }
    .wrapper .contacts li {
      margin-top: 10px;
      padding: 10px;
      border-radius: 5px;
      color: white;
      background: black;
    }
    .wrapper .contacts li:first-child {
      margin-top: 0;
    }
      .wrapper .contacts li .name {
        font-size: 1.6em;
      }
      .wrapper .contacts li .email {
        margin-left: 15px;
        font-style: italic;
      }
  .wrapper .addcontact {
    width: 250px;
    float: right;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background: white;
  }
    .wrapper .addcontact input {
      width: 200px;
      margin-bottom: 10px;
      padding: 10px;
      border: 0;
      border-radius: 5px;
      color: white;
      background: black;
    }
    .wrapper .addcontact input[type="submit"] {
      width: 100px;
      margin-bottom: 0;
    }